.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: darkgreen;
}

.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.email {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.especial {
	color: black;
	background-color: orange;
	border-radius: 5px;
	font-weight:bold;
	text-align: center;
	margin-top: 3px;
	padding: 7px;
}

.list-container {
	margin-right: 25%;
	padding-left: 25%;
	list-style-type: none;
}

.tarea-pendiente {
	margin-top: 2px;
	display:flex;
	flex-direction: row; 
	justify-content: space-between;
	background-color:pink;
	padding-top:5px;
	border: solid 2px black;
	font-weight:bold;
	padding-right: 2px;
	padding: 10px; 
	border-radius: 15px;
	align-content: center;
}
.tarea-finalizada {
	margin-top: 2px;
	color: grey;
	text-decoration:line-through;
	background-color:pink;
	padding-top:5px;
	border: solid 2px black;
	font-weight:bold;
	padding-right: 2px;
	padding: 10px; 
	border-radius: 15px;
}

.marca {
	text-align: right;
	display: flex;
	justify-content: flex-start;
}

.marca span::before {
	content:url("../resources/tick.gif");
	margin-right: 2px;
}

.tags{
	background: orange;
	text-align: center;
	padding: 2px 6px;
	border-radius: 10px;
	color: white;
}

.nueva-tarea {
	display: flex;
	justify-content: flex-start;
	margin-top: 5px;
	text-align: center;
	background-color: lightblue;
	padding: 5px;

}

#input-tarea {
	flex-grow: 10;
}

#btn-tarea {
	color: white;
	background-color: darkgreen;
	border-radius: 5px;
	font-weight:bold;
	text-align: center;
	padding: 2px 6px;
	border: solid 2px black;
}

#especial1 {
	text-align: center;
	margin-top: 30px;
	
}

#btn-eliminar {
	color: black;
	background-color: orange;
	border-radius: 5px;
	font-weight:bold;
	padding: 10px;
}

.marca {
	background-color: brown;
	border: solid black 2px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 2px;
	

}

.marca:hover, #btn-eliminar:hover, #btn-tarea:hover, .especial:hover {
	background: #A59D97;
}

a {
	text-decoration: none;
}