.user {
	display: none;
}

.texto-completado {
	color: gray;
	text-decoration:line-through;
}

.marca {
	display: none;
}

.nueva-tarea {
	display: none;
}

#especial1 {
	display: none;
}


a {
	text-decoration: none;
	color: gray;
}